/* ОСНОВНЫЕ КНОПКИ */

/* основное состояние */
.s-btn-book.s-btn--primary {
    background-color: #C72B32 !important;
    color: #ffffff !important;
    border-radius: 10px !important;
    border: 2px solid #C72B32 !important;
    transition: all 0.3s ease !important;
}

/* ховер */
.s-btn-book.s-btn--primary:hover {
    background-color: #ffffff !important;
    color: #C72B32 !important;
    border-color: #C72B32 !important;
}


.price grid-cell {
	color: #C72B32 !important;
}

/* Кнопка "Добавить номер" */
.b-roomitem__field--btn .s-btn--addroom {
    background-color: #C72B32 !important;
    color: #ffffff !important;
    border-radius: 10px !important;
    border: 2px solid #C72B32 !important;
    transition: all 0.3s ease !important;
}

/* Ховер для "Добавить номер" */
.b-roomitem__field--btn .s-btn--addroom:hover {
    background-color: #ffffff !important;
    color: #C72B32 !important;
    border-color: #C72B32 !important;
}

/* Плюсик внутри кнопки, чтобы менял цвет вместе с текстом */
.b-roomitem__field--btn .s-btn--addroom .icon-plus {
    color: inherit !important;
}

.b-result-item__name-holder {
	color: #C72B32 !important;
}

s-btn s-btn--link s-btn--addroom {
	color: #ffffff !important;
}

.b-roomitem__field--btn .s-btn--addroom .icon-plus {
		color: #ffffff !important;
}
