/* ОСНОВНЫЕ КНОПКИ */

/* основное состояние */
.s-btn-book.s-btn--primary {
    background-color: #C72B32 !important;
    color: #ffffff !important;
    border-radius: 10px !important;
    border: 2px solid #C72B32 !important;
    transition: all 0.3s ease !important;
}

/* ховер */
.s-btn-book.s-btn--primary:hover {
    background-color: #ffffff !important;
    color: #C72B32 !important;
    border-color: #C72B32 !important;
}

.b-roomitem__field--btn{
    background: #C72B32 !important;
    color: #e1e1e1 !important;
}

.price grid-cell {
	color: #C72B32 !important;
}

